export REDIS_URL=
export HUBOT_SLACK_TOKEN=
export HUBOT_CIRCLECI_TOKEN=
export HUBOT_GOOGLE_CSE_ID=
export HUBOT_GOOGLE_CSE_KEY=
HUBOT_GOOGLE_IMAGES_HEAR
export HUBOT_GITHUB_ORG=
# (e.g. https://graylog.example.com)
export GRAYLOG_URL=
# (e.g. 098f6bcd4621d373cade4e832627b4f6)
export GRAYLOG_API_TOKEN=
# (e.g. ','. Default: "\n")
export GRAYLOG_SEPARATOR=
# (format: "https://jira-domain.com:9090")
export HUBOT_JIRA_URL=
# (optional; default is "true")
export HUBOT_JIRA_IGNORECASE=
export HUBOT_JIRA_USERNAME=
export HUBOT_JIRA_PASSWORD=
# (optional, format: "user1|user2", default is "jira|github")
export HUBOT_JIRA_ISSUES_IGNORE_USERS=
export HUBOT_NEWRELIC_API_KEY=
export HUBOT_NEWRELIC_API_HOST=
export ORCHESTRATE_API_KEY=
export ORCHESTRATE_COLLECTION=
